<html>

<head>
    <title>Sellado de documentos</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <link rel="stylesheet" href="assets/css/custom.css" />
    <link rel="stylesheet" href="assets/vendor/fontawesome-free-5.15.4/css/all.min.css" />

    <script src="assets/vendor/bootstrap-5.1.1/dist/js/bootstrap.min.js"></script>
    <script src="assets/vendor/fontawesome-free-5.15.4/js/all.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="assets/img/logo-ugr-horizontal-blanco.png" height="50px" />
                </a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container py-5">
            <div class="row pb-2">
                <h1 class="display-4">Sellado de documentos</h1>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-5 pb-5">
                <div class="col">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius mi nec gravida ultrices.
                        Morbi a posuere mauris, et mollis magna. Phasellus tempus eget nibh lobortis sollicitudin.
                        Aliquam viverra nisi at sem egestas, eget vulputate dui egestas. Maecenas sodales commodo
                        mollis. Maecenas vel lorem vitae dui scelerisque aliquam. Duis scelerisque quam sit amet
                        ultricies accumsan. Nam non erat non nulla commodo condimentum. Vivamus pellentesque vulputate
                        lacus vel mollis. Sed semper justo auctor malesuada sagittis. Cras interdum massa quis ipsum
                        interdum, sed vehicula nunc egestas. Aliquam sit amet iaculis nunc. Aenean nec libero dictum,
                        aliquet dolor ut, blandit diam. Nulla vitae fringilla lorem, ac pretium justo. Quisque
                        condimentum, orci nec volutpat tincidunt, urna nisi viverra eros, ac suscipit lectus dui ac
                        eros. Ut quis venenatis augue.
                    </p>
                </div>
                <div class="col d-flex flex-row align-items-center">
                    <form id="sign-file-form" action="sign" method="POST" enctype="multipart/form-data">
                        <div class="input-group">
                            <input type="file" class="form-control" name="doc" id="sign-file-input"
                                onchange="activateSignButton()" aria-describedby="sign-file-button" aria-label="Upload">
                            <button class="btn btn-outline-primary" type="button" id="sign-file-button"
                                onclick="signFile()" disabled>Sellar</button>
                        </div>

                        <script>
                            signForm = document.getElementById("sign-file-form");
                            signInput = document.getElementById("sign-file-input");
                            signButton = document.getElementById("sign-file-button");

                            function activateSignButton() {
                                if (signInput.value != "") {
                                    if (signButton.hasAttribute("disabled")) {
                                        signButton.removeAttribute("disabled");
                                    }
                                }
                            }

                            function signFile() {
                                signForm.submit();
                            }
                        </script>
                    </form>
                </div>
            </div>

            <div class="row pt-5 pb-3">
                <h2 class="text-center">Comprueba la validez de tus documentos sellados</h2>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-5 px-5 pb-5">
                <div class="col">
                    <div class="card py-3 h-100">
                        <div class="card-body">
                            <h4 class="card-title text-center">
                                <i class="fas fa-file-download"></i>
                                <span>Descarga los certificados</span>
                            </h4>
                            <div class="container pt-3">
                                <div class="row g-3 text-center">
                                    <div class="col">
                                        <a href="certs/ca.pem" download="ca.pem">
                                            <button type="button" class="btn btn-lg btn-primary">ca.pem</button>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="certs/tsa.pem" download="tsa.pem">
                                            <button type="button" class="btn btn-lg btn-primary">tsa.pem</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card py-3 h-100">
                        <div class="card-body">
                            <h4 class="card-title text-center">
                                <i class="fas fa-check"></i>
                                <span>Verifica con OpenSSL</span>
                            </h4>
                            <div class="container pt-3">
                                <code>
                                    openssl ts -verify -in <i>timestamped_file</i>
                                    -data <i>original_file</i> -CAfile ca.pem -untrusted tsa.pem
                                </code>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="text-center bg-dark text-light p-4">
        <p>
            Este servicio ha sido desarrollado dentro del proyecto AMIGA-7
        </p>
        <span>Made with <i class="fas fa-heart"></i> by UGR Rabbits</span>
    </footer>
</body>

</html>
